.nott {
    padding-top:8pt;
    padding-bottom:8pt;
    padding-left:12pt;
    padding-right:20pt;
    color:white;
    border-radius:10px;
    border:5px solid #DC3483;
    text-align:justify;
}
.carapake {
    padding-top:8pt;
    padding-bottom:8pt;
    padding-left:12pt;
    padding-right:12pt;
    color:white;
    border-radius:10px;
    border:5px solid #2a004b;
    text-align:justify;
}

.nott:before, .carapake:before {
	font-size:13pt;
    font-weight: 900;
}
.nott:before { content: "DILARANG KERAS "; color:#DC3483;}
.carapake:before { content: "Cara penggunaan"; color:#DC3483;}

.nott1, .nott2, .nott3, .nott4, .nott5, .nott6, .stepsoft1, .stepsoft2, .stepsoft3, .stepsoft4, .stepsoft5, .stephard1, .stephard2, .stephard3, .stepngkia, .stepngkib, .stepngkic {
padding-left:13pt; text-align:justify; padding-bottom:3pt; padding-top:2pt; color:white; font-size:11pt;
}
.nott1:before { content: "Dilarang menghapus credit, apalagi mengklaim ";}
.nott2:before { content: "Dilarang upload konten ini di fanshare apapun dengan alasan dan tujuan apapun ";}
.nott3:before { content: "Dilarang membuat hardsub dengan menggantinya, baik sedikit atau keseluruhan ";}
.nott4:before { content: "Dilarang mengedit segala isi di sub ini tanpa izin ";}
.nott5:before { content: "Dilarang menyalin style ciri khas MoeFang Subs ";}
.nott6:before { content: "Dilarang membagikan direct langsung ke Google Drive. Mohon hargai waktu dan tenaga yang sudah saya curahkan kemari.";}

.stepsoft1:before { content: "Download RAW nya terlebih dahulu. Jika sudah punya, ya gaperlu";}
.stepsoft2:before { content: "Jika selesai, silakan download softsubnya.";}
.stepsoft3:before { content: "Jangan lupa untuk download font wajibnya";}
.stepsoft4:before { content: "Simpan di folder yang sama, dan berikan nama yang sama juga.";}
.stepsoft5:before { content: "Putar videonya di PC kalian dengan media player selain bawaan Windows.";}
.stephard1:before { content: "Download file MKV diatas yang sudah di-zip";}
.stephard2:before { content: "Silakan ekstrak menggunakan 7Zip atau WinRar dengan password ";}
.stephard3:before { content: "Bagi yang mengunduh versi hardsubnya, silakan ekstrak menggunakan 7Zip atau WinRar dengan password ";}
.stepngkia:before { content: "Untuk versi Epilogue, masukan passwordnya ";}
.stepngkib:before { content: "Untuk versi Individual, masukan passwordnya ";}
